h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_50c99fc5 a { text-decoration: none; }
#menu_50c99fc5_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_50c99fc5_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_50c99fc5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_50c99fc5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_50c99fc5_entry:hover span { color:#FFFFFF !important; }
		.menu_50c99fc5_mainMenuEntry { text-align: center; }
		.menu_50c99fc5_mainMenuEntry:hover {	background-color:#282828; }
		.menu_50c99fc5_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_50c99fc5 .mobileEntry { display: none; } 
		#menu_50c99fc5 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_50c99fc5 .mobileEntry { display: block; } 
			#menu_50c99fc5 .normalEntry { display: none; } 
		}
body { background-color:#FF8040; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_2cec8d25 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background-color:#BDBDBD; background: linear-gradient(to bottom, #F5F5F5, #BDBDBD); border: 1px solid #545454;  }
#container_2cec8d25_padding { margin: 10px; display: block;  }
#menu_50c99fc5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:185px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#img_1c58bb4 { vertical-align: bottom; position:relative; display: inline-block; width:8%; background:none; height:auto;  }
#container_1c84632b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background-color:#CECECE;  }
#container_1c84632b_padding { margin: 10px; display: block;  }
#heading_6385801d { vertical-align: bottom; position:relative; display: inline-block; background-color:#FF8040; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_7d35d100 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#CECECE;  }
#container_7d35d100_padding { margin: 10px; display: block;  }
#heading_ee07095 { vertical-align: bottom; position:relative; display: inline-block; background-color:#FFFFFF; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
